div{
    background-color: black;
    height: 60px;
    
    
   
}
#new{
    color: orange;
    font-size: 25px;
}
button{
    background-color: orange;
    color: white;
}
a{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}